body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixedTop {
  top:0 !important;
  position: fixed !important;
  z-index:100;
  width: 100%;
}

.closeMenuArea {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0
}

#navbar {
  z-index: 1;
}

.navbar-toggler {
  z-index: 2;
}
