@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Yuji+Mai&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');

html {
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBtnDisabled {
    pointer-events: none;
    cursor: default;
    border-color: #fea810 !important;
}

#navbarSecondText {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    background-color: rgba(37, 37, 37, 1) !important;
    text-shadow: 1px 1px 1px rgba(37, 37, 37, 1);
    border-radius: 0 0 10px 10px !important;
    color: #d1c8c2 !important;
}


.navLink {
    font-family: 'Arial Black', serif !important;
    color: #d1c8c2 !important;
}


.titleNav {
    font-family: 'Yuji Mai', cursive;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(37, 37, 37, 0.8),
    0 8px 13px rgba(37, 37, 37, 0.1),
    0 18px 23px rgba(37, 37, 37, 0.1);
}


.titleHeader {
    font-family: 'Yuji Mai', cursive;
    text-shadow: 0 1px 3px rgba(37, 37, 37, 0.7),
    0 8px 13px rgba(37, 37, 37, 0.1),
    0 18px 23px rgba(37, 37, 37, 0.1);
}

.navLink {
    font-family: 'Arial', serif !important;
}

.headerDescription {
    font-family: 'Caveat', serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(37, 37, 37, 0.8),
    0 8px 13px rgba(37, 37, 37, 0.1),
    0 18px 23px rgba(37, 37, 37, 0.1);
}

.headerButton {
    font-family: 'Arial', 'Caveat', serif;
}

.cardDescription {
    font-family: 'Caveat', cursive;
}

.headerImage {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
    height: 500px;
}

.accordion-button {
    text-transform: uppercase;
    color: #fea810 !important;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100% !important;
    font-family: 'Yuji Mai', Arial, serif;
    background-color: #fafafa !important;
}

.accordion-header .collapsed h5 i:before {
    content: "\f107" !important;
}

.accordion-header .collapsed {
    font-style: normal;
    text-decoration: none;
    color: #4e4e4e !important
}

.accordion-button::after {
    display: none !important;
}

.modalItemTitle {
    font-family: 'Yuji Mai', 'Caveat', serif;
}

.fontCursive {
    font-family: 'Caveat', cursive;
}

.cardLink {
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .headerImage {
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
        height: 330px;
    }

    #navbarSecond {
        top: 0 !important;
    }
}


@media screen and (min-width: 768px) {
    .headerImage {
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
        height: 330px;
    }

}